
<ul class="text-center mx-auto grid grid-cols-1 gap-2 md:grid-cols-2 ">
    <a href="/admin/configuser" class="bg-gray-900 text-white rounded-md w-full p-5">
        จัดการผู้ใช้งาน
    </a>
    <a href="/admin/configitems" class="bg-gray-900 text-white rounded-md w-full p-5">
        จัดการสินค้า
    </a>
</ul>