<header>
    <nav>
        <div class="w-4/5 mx-auto md:flex md:justify-between p-5 items-center">
            <div class="mb-3 justify-center text-center">
                <span class="" >
                    <img src="" alt="">
                    <a href="/home" class="font-bold text-2xl text-[#776B5D] uppercase">Foodshop</a>
                </span>
            </div>
            <ul class="block space-y-3 md:flex md:space-x-3  md:space-y-0">
            <% if (!session.logged) { %>
                <li class="p-3 text-center bg-frist rounded-md">
                    <a href="/" class="hover:font-bold">Login</a>
                </li>
                <li class="p-3 text-center bg-last rounded-md">
                    <a href="/register" class="hover:font-bold">Register</a>
                </li>
            <% } else { %>

                <% if (session.admin == true) { %>
                    <li class="p-3 text-center bg-frist rounded-md ">
                        <a href="/admin" class="hover:font-bold">Admin</a>
                    </li>
                <% } else { %>
                    <li class="p-3 text-center bg-frist rounded-md flex justify-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                          </svg>
                          
                        <a href="/home" class="hover:font-bold">Home</a>
                    </li>
                    <li class="p-3 text-center bg-frist rounded-md flex justify-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                          </svg>
                          
                        <a href="/myorder" class="hover:font-bold">My orders</a>
                    </li>
                    <li class="p-3 text-center bg-frist rounded-md flex space-x-2 justify-center">              
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776" />
                          </svg>                                        
                        <a href="/history" class="hover:font-bold"> History</a>
                    </li>
                    <li class="p-3 text-center bg-frist rounded-md flex space-x-2 justify-center">              
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          </svg>                                                             
                        <button onclick="profile.showModal()" class="hover:font-bold"> Profile</button>
    
                        <dialog id="profile" class="modal">
                            <div class="modal-box">
                              <h3 class="font-bold text-lg">แก้ไขโปรไฟล์</h3>
                                <form action="/api/editprofile/<%= session.user._id %>" method = "POST">
                                    <div class="m-2">
                                        <label for="" class="label">แก้ไขรหัสผ่าน</label>
                                        <input type="password" name="password" id="" class="input input-bordered w-full">
                                    </div>
                                    <div class="m-2">
                                        <label for="" class="label">ยืนยันรหัสผ่านใหม่</label>
                                        <input type="password" name="confirmpassword" id="" class="input input-bordered w-full">
                                    </div>
                                    <div class="m-2">
                                        <label for="" class="label">แก้ไขเบอร์มือถือ</label>
                                        <input type="number" name="phone" id="" class="input input-bordered w-full">
                                    </div>
                                    <div class="m-2">
                                        <label for="" class="label">แก้ไขที่อยู่</label>
                                        <textarea name="address" id="" rows="2" class="textarea w-full  textarea-bordered"></textarea>
                                    </div>
                                    <div class="m-2">
                                       <button class="btn btn-success w-full text-white">แก้ไขข้อมูล</button>
                                    </div>
                                </form>
                              <div class="modal-action">
                                <form method="dialog">
                                  <button class="btn">Close</button>
                                </form>
                              </div>
                            </div>
                        </dialog>
                    </li>
                <% } %>
               
                <li class="p-3 text-center bg-frist rounded-md flex justify-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                      </svg>                      
                     <form action="/api/logout" method = 'post'>

                        <button href="/api/logout" class="hover:font-bold">ออกจากระบบ</button>
                     </form>
                  
                </li>
            <% } %>
            </ul>
        </div>
    </nav>
</header>
