<!DOCTYPE html>
<html lang="en" data-theme ='light' class="bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="output.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.20/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="query.js"></script>
    <title>Document</title>
</head>

<body class=" block m-0 p-0" >
    <%- include('../partials/header.ejs') %>
    <%- body %>
</body>

</html>
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
